@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap');

//  Colors
//Primary
$primary-soft-orange: hsl(35, 77%, 62%);
$primary-soft-red: hsl(5, 85%, 63%);
//Neutral
$neutral-off-white: hsl(36, 100%, 99%);
$neutral-grayish-blue: hsl(233, 8%, 79%);
$neutral-dark-grayish-blue: hsl(236, 13%, 42%);
$neutral-very-dark-blue: hsl(240, 100%, 5%);

//  Typography
//Font
$font-size-15: 15px;
$font-family: 'Inter', sans-serif;
$font-weight-400: 400;
$font-weight-700: 700;
$font-weight-800: 800;
