@import 'utilities/variables', 'layout/header', 'layout/main',
  'components/buttons';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
p {
  list-style: none;
  text-decoration: none;
  color: $neutral-very-dark-blue;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: $font-size-15;
  background-color: $neutral-off-white;
  padding: 10px;
}
