@import 'utilities/variables', 'layout/header', 'layout/main-section',
  'components/buttons', 'layout/footer';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
p {
  list-style: none;
  text-decoration: none;
  line-height: 1.6;
  color: $neutral-very-dark-blue;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: $font-size-15;
  background-color: $neutral-off-white;
  padding: 10px;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  body {
    margin: 5% 10%;
    max-width: 1440px;

    .navbar {
      display: flex;
    }

    .open {
      display: none;
    }

    main {
      height: 70vh;
      margin: 40px 0;

      display: flex;
      gap: 30px;
      justify-content: center;
      align-items: center;

      .main-section {
        width: 70%;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto;

        img {
          height: 100%;
          grid-column: 1 / 5;
          grid-row: 1 / 2;
          padding: 0;
        }

        h1 {
          font-size: 3rem;
          margin: 20px 20px 0 0;

          grid-column: 1 / 3;
          grid-row: 3 / 4;
        }

        p {
          margin: 20px 0 0 0;

          grid-column: 3 / 5;
          grid-row: 3;
        }

        button {
          grid-column: 3 / 5;
          grid-row: 4;

          margin: 0 40% 0 0;
        }
      }
      .side-section {
        width: 30%;
        height: 100%;

        h2 {
          font-size: 2rem;
        }
      }
    }

    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      article {
        width: 30%;

        .container {
          padding: 0 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }
}
