@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap");
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.header-container #logo {
  width: 50px;
}
.header-container ul {
  display: flex;
}
.header-container ul li {
  padding: 0 20px;
  transition: 0.6s ease;
  cursor: pointer;
}
.header-container ul li:last-child {
  padding-right: 0;
}
.header-container ul li:hover {
  color: hsl(5, 85%, 63%);
}

.navbar {
  display: none;
}

.sidebar {
  background-color: rgba(93, 95, 121, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  height: 120vh;
  width: 100vw;
  display: flex;
  justify-content: end;
}
.sidebar .sidebar-container {
  position: relative;
  background-color: hsl(36, 100%, 99%);
  height: inherit;
  width: 60%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.sidebar button {
  margin-left: auto;
  padding: 20px 10px;
}
.sidebar ul {
  margin: 40px 10px;
}
.sidebar ul li {
  padding: 10px;
  transition: 0.6s ease;
  cursor: pointer;
}
.sidebar ul li:hover {
  color: hsl(5, 85%, 63%);
}

.close {
  right: -120%;
}

.main-section img {
  width: 100%;
  padding: 20px 0;
}
.main-section h1 {
  font-size: 2.5rem;
  color: hsl(240, 100%, 5%);
}
.main-section p {
  padding: 10px 0;
  color: hsl(236, 13%, 42%);
}
.main-section button {
  padding: 10px 25px;
  margin: 20px 0;
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.6s ease;
}
.main-section button:hover {
  background-color: hsl(240, 100%, 5%);
}

.side-section {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  padding: 15px;
  margin: 40px 0;
}
.side-section h2 {
  color: hsl(35, 77%, 62%);
  padding: 10px 0;
}
.side-section h3 {
  cursor: pointer;
  transition: 0.6s ease;
}
.side-section h3:hover {
  color: hsl(35, 77%, 62%);
}
.side-section p {
  color: hsl(233, 8%, 79%);
  padding: 5px 0;
}
.side-section article {
  padding: 20px 0;
  border-bottom: 1px solid hsl(233, 8%, 79%);
}
.side-section article:last-child {
  border-bottom: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

footer article {
  display: flex;
  padding: 20px 0;
}
footer article img {
  width: 28%;
}
footer article .container {
  padding: 0 10px;
}
footer article span {
  color: hsl(233, 8%, 79%);
  font-size: 2rem;
}
footer article h3 {
  cursor: pointer;
  transition: 0.6s ease;
}
footer article h3:hover {
  color: hsl(5, 85%, 63%);
}
footer article p {
  color: hsl(233, 8%, 79%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

li,
p {
  list-style: none;
  text-decoration: none;
  line-height: 1.6;
  color: hsl(240, 100%, 5%);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: hsl(36, 100%, 99%);
  overflow-x: hidden;
  padding: 10px;
}
body::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 750px) {
  body {
    margin: 5% 10%;
    max-width: 1440px;
  }
  body .navbar {
    display: flex;
  }
  body .open {
    display: none;
  }
  body main {
    height: 70vh;
    margin: 40px 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  body main .main-section {
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  body main .main-section img {
    height: 100%;
    grid-column: 1/5;
    grid-row: 1/2;
    padding: 0;
  }
  body main .main-section h1 {
    font-size: 3rem;
    margin: 20px 20px 0 0;
    grid-column: 1/3;
    grid-row: 3/4;
  }
  body main .main-section p {
    margin: 20px 0 0 0;
    grid-column: 3/5;
    grid-row: 3;
  }
  body main .main-section button {
    grid-column: 3/5;
    grid-row: 4;
    margin: 0 40% 0 0;
  }
  body main .side-section {
    width: 30%;
    height: 100%;
  }
  body main .side-section h2 {
    font-size: 2rem;
  }
  body footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body footer .container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}