footer {
  article {
    display: flex;
    padding: 20px 0;

    img {
      width: 28%;
    }

    .container {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    span {
      color: $neutral-grayish-blue;
      font-size: 2rem;
    }

    h3 {
      cursor: pointer;
      transition: $transition;

      &:hover {
        color: $primary-soft-red;
      }
    }

    p {
      color: $neutral-grayish-blue;
    }
  }
}
