.header-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  #logo {
    width: 50px;
  }

  ul {
    display: flex;

    li {
      padding: 0 20px;
      // margin-right: px;
      transition: $transition;
      cursor: pointer;

      &:last-child {
        padding-right: 0;
      }

      &:hover {
        color: $primary-soft-red;
      }
    }
  }
}

.sidebar {
  background-color: rgba($neutral-dark-grayish-blue, $alpha: 0.5);
  position: absolute;
  top: 0;
  right: 0;
  height: 120vh;
  width: 100vw;
  display: flex;
  justify-content: end;

  .sidebar-container {
    position: relative;
    background-color: $neutral-off-white;
    height: inherit;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  button {
    margin-left: auto;
    padding: 20px 10px;
  }

  ul {
    margin: 40px 10px;

    li {
      padding: 10px;
      transition: $transition;
      cursor: pointer;

      &:hover {
        color: $primary-soft-red;
      }
    }
  }
}

.close {
  right: -120%;
}
